.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background: var(--color5, #D7D9CE);
  color: var(--color3, #13505B);
}
.navmargin1 {
  margin-top: -8px;
}

.navigation1 {
  color: var(--color3, #13505B);
  font-family:  normal;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 300px;
  text-decoration: none;
}

.navback1 {
  display: flex;

}
.item {
  margin-top: -8px;
}

.header1 {
  color: var(--color3, #13505B);
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 1000;
  line-height: normal;
  margin-right: 155px;
  text-decoration: none;
}

.header {
  display: flex;

}


h1 {
  text-align: center;
  color: #333;
}

.cart {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: space-around;
}

.product {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 8px;
  width: 1000px;
  margin: 2px;
  display: flex ;
}

.product img {
  max-width: 100%;
  width: 100px;
  height: 100px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.product h2 {
  font-size: 15px;
  color: #333;
  margin-left: 130px;
}

.quantity {
  display: flex;
  justify-content: space-between;
  margin-left: 175px;
}

.quantity input {
  width: 50px;
  height: 20px;
  padding: 2px;
  text-align: center;
}

.price{
  font-size: 20px;
  margin-left: 150px;
  color: #333;
}
.remove-product {
  float: center;
  border: 0;
  margin-left: 155px;
  padding: 4px 8px;
  background-color: rgb(10, 84, 89);
  color: #fff;
  font-family: font-bold;
  font-size: 15px;
  border-radius: 3px;
}

.remove-product:hover {
  background-color: rgb(28, 24, 24);
}


@media screen and (max-width: 1300px) {
  .product {
      width: 100%;
  }
}